$primary   : #e20074
$secondary : #f6b2d5
$accent    : #fbd9ea

$dark      : #D2006C
$light-blue: #ee6caf

$positive  : #dcdcdc
$negative  : #505050
$info      : #0074E2
$warning   : #fec705

$typography-font-family: TeleNeoVariable-Upright