$primary   : #e20074
$secondary : rgba(226, 0, 116, 0.3)
$accent    : #e21437

$dark      : #1D1D1D
$light-blue: #ebf0f5

$positive  : #1e7f5e
$negative  : #e21437
$info      : #28aaef
$warning   : #fec705
